.cat-gallery-header {
  position: relative;
  width: 100vw;
  height: 35vh;
  background-color:#E9C368 ;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cat-gallery-header h1 {
  font-family: 'Le Petit Cochon';
  font-size: 50px;
}



.cat-gallery-description {
  max-width: 50vw;
  text-align: center;
  padding-bottom: 1rem;
}

.cat-gallery {
    text-align: center;
    background-color: #FFFBE2;
    min-height: 100vh;

  }

.cat-gallery h1 {
    margin-bottom: 20px;
}
  
  .cat-list {
    padding-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  
  }
  
  .cat-card {
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
  }
  
  .cat-card h3 {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    background-color: white;
    border-radius: 0 0 8px 8px;
    transition: transform 0.3s ease;
  }
  
  .cat-link {
    font-size: 20px;
    text-decoration: none;
    color: white;
    background: #da2f21;
    padding: 8px 12px;
    border-radius: 5px;
    display: inline-block;
    transition: 0.3s;
  }

  .cat-card:hover {
    transform: translateY(-5px);
  }

  
  .cat-image {
    display: block;
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }