@font-face {
    font-family: 'Le Petit Cochon';
    src: url('../assets/fonts/le-petit-cochon.woff2') format('woff2'), /* Best format */
         url('../assets/fonts/le-petit-cochon.ttf') format('truetype'), /* TTF fallback */
         url('../assets/fonts/le-petit-cochon.otf') format('opentype'); /* OTF fallback */
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,463;1,463&display=swap');
* {
font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}
.heading {
    font-family: 'Le Petit Cochon', cursive;
    font-size: 50px;
    padding-top: 10px;
}

@media (max-width: 1260px) {
    .heading::after {
       
        content: "LKP";
    }
    .heading {
        padding-top:20px;
        font-size: 45px; /* Optional: Adjust font size for smaller screens */
    }
}
@media (max-width: 856px) {
    .heading {
        display: none;
    }
    .logo-img {
        display: none;
    }

}

@media (min-width: 1261px) {
    .heading::after {
        content: "love kuching project";
    }
}

/* Ensure the menubar itself is positioned correctly */
.menubar {
    position:fixed;
    z-index: 1000000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #f57d2f;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 0px;
    border-radius: 0px;
     /* Ensure it's above other elements but below dropdown */
}
div[data-radix-menu-content] {
    z-index: 100000000000;
}

.logo-img {
    padding-top:0px;
    width: 90px;  
    height: 90px;  
    object-fit: cover;  /* Ensures the image fills the circle properly */
    
}

.menu-items {
    display: flex;  
    gap: 20px;  /* Adds spacing between menu items */
    z-index: 1100;
}

.heading-logo {
    display: flex;
    gap: 20px;
}
 .text {
    font-size: 15px;
 }
